.project-card {
  background: black;
  color: white;
  padding: 20px;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(160, 14, 14, 0.2);
  transition: transform 0.3s;
}

.project-card:hover {
  transform: scale(1.05);
}
